<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>
  <body class="container">
    <section>

      <h1>{{title}}</h1>

      <div class="link row">
        <div class="col l3">
          <form method="post" href="/upvote/{{this.id}}" action="/upvote/{{this.id}}">
              <button class="button">  <img src="/up-arrow.png" alt=""></button>
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="hidden" name="votes" value="{{this.votes}}">
          </form>
          <span class="votes">{{votes}}</span>
          <form method="post" href="/downvote/{{this.id}}" action="/downvote/{{this.id}}">
              <button class="button">  <img src="/downarrow.png" alt=""></button>
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="hidden" name="votes" value="{{this.votes}}">
          </form>
        </div>
        <div class="col l9">
          <span class="title">
            <a href="{{this.url}}">{{title}}</a>
          </span>
        </div>
      </div>
    </section>
    <section>
      {{#each data}}
      <form action="/addComment/{{id}}" method="post">
        {{/each}}
        <div>
          <label for="username">username:</label>
          <input type="text" name="username" value="">
        </div>
        <div>
          <label for="commment">comment</label>
          <input type="text" name="comment_text" value="">
        </div>
        <button>Add Comment</button>
      </form>

    </section>
    <section>

      <div class="link row">
        {{#each data}}
        <h5>username:{{this.username}}</h5>
        <h6>{{this.comment_text}}</h6>
      {{/each}}
      </div>
    </section>

  </body>
</html>
